<aside class="sidebar">
    <div class="logo-container">
        <div class="logo">
            <span class="mc-icon-small"></span>
        </div>
    </div>
    
    <nav class="sidebar-nav">
        <ul class="nav-items">
            <li class="nav-item">
                <a href="#" class="nav-link">
                    <span class="nav-icon home-icon"></span>
                    <span class="nav-text">Home</span>
                </a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">
                    <span class="nav-icon clock-icon"></span>
                    <span class="nav-text">Last Visited</span>
                </a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">
                    <span class="nav-icon star-icon"></span>
                    <span class="nav-text">Favorite</span>
                </a>
            </li>
        </ul>
        
        <div class="nav-group">
            <div class="nav-group-header">
                <span>Patients Group</span>
            </div>
            <ul class="nav-items">
                <li class="nav-item active">
                    <a href="#" class="nav-link" data-page="patients-list">
                        <span class="nav-icon patients-icon"></span>
                        <span class="nav-text">Patients</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <span class="nav-icon contacts-icon"></span>
                        <span class="nav-text">Contacts</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <span class="nav-icon ereceipts-icon"></span>
                        <span class="nav-text">eReceipts</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <span class="nav-icon referrals-icon"></span>
                        <span class="nav-text">Referrals</span>
                    </a>
                </li>
            </ul>
        </div>
        
        <div class="nav-group">
            <div class="nav-group-header">
                <span>Visits Group</span>
            </div>
            <ul class="nav-items">
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <span class="nav-icon overview-icon"></span>
                        <span class="nav-text">Overview</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link" data-page="calendar">
                        <span class="nav-icon today-icon"></span>
                        <span class="nav-text">Today</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <span class="nav-icon availability-icon"></span>
                        <span class="nav-text">Availability</span>
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</aside>