<header class="top-toolbar">
    <button class="menu-btn"><div class="menu-button-icon menu-icon"></div>
    </button>
    
    <div class="search-container">
        <input type="search" class="search-input" placeholder="Search...">
        <button class="search-clear-btn">×</button>
    </div>
    
    <div class="toolbar-actions">
        <button class="toolbar-btn notifications-btn dummy-btn"></button>
        <button class="toolbar-btn language-btn dummy-btn"></button>
        <button class="toolbar-btn add-btn" id="open-new-menu"></button>
        <button class="toolbar-btn help-btn" id="open-help-modal"></button>
        <button class="toolbar-btn settings-btn" id="open-settings-modal"></button>
        <button class="toolbar-btn user-btn" id="open-user-modal"></button>
    </div>
</header>